<div class='modal-header'>
  <h4 class='modal-title'>{{id_people ? 'Modificare' : 'Adăugare'}} informație</h4>
</div>

<div class='modal-body'>
  <div class='row'>
    <label class='col-2 control-label'>Nume*</label>
    <div class='col-4'>
      <input [(ngModel)]='modal.name' class='form-control' placeholder='Nume...' maxlength='255' />
    </div>
    <label class='col-2 control-label'>Prenume*</label>
    <div class='col-4'>
      <input [(ngModel)]='modal.surname' class='form-control' placeholder='Prenume...' maxlength='255' />
    </div>
  </div>

  <div class='row'>
    <label class='col-2 control-label'>CNP*</label>
    <div class='col-4'>
      <input type='number' [(ngModel)]='modal.ssn' (change)="setAge($event)" class='form-control' placeholder='CNP...' maxlength='13' />
    </div>
    <label class='col-2 control-label'>Varsta</label>
    <div class='col-2'>{{age}}</div>
  </div>
</div>
<div class='row'>
  <label class='col-2 control-label'>Cars*</label>
  <div class='col-9'>
    <ng-select [items]="cars" bindValue="id" bindLabel="data"
      (change)="carsSelected($event)"
      [clearable]="false"
      [multiple]="true"
    ></ng-select>

  </div>
</div>

<div class='modal-footer'>
  <button type='button' class='btn btn-outline-dark' (click)='activeModal.dismiss()'>Renunță</button>
  <button type='button' class='btn btn-success' (click)='save()'>Salvează</button>
</div>